#  Local .terraform directories
**/.terraform/*
*/.terraform*
# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl
.terraform
##terragrunt.*

**/.idea
**/*.iml

# Cloud Posse Build Harness https://github.com/cloudposse/build-harness
**/.build-harness
**/build-harness

# Crash log files
crash.log
test.log
